name: "Dependabot config moved"
on:
  workflow_dispatch:

jobs:
  note:
    runs-on: ubuntu-latest
    steps:
      - name: Inform
        run: echo "Dependabot config moved to .github/dependabot.yml"
 